<mat-drawer-container class="min-h-screen" autosize>
   <mat-drawer #sidenav opened mode="side" class="!bg-sky-500">
      <div>

         <p>Auto-resizing sidenav</p>
      </div>
      <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
     <button (click)="showFiller = !showFiller" mat-raised-button>
       Toggle extra text
     </button> -->
   </mat-drawer>

   <main class="bg-sky-50 min-h-screen w-full flex flex-col">
      <app-topbar (toggleSidebar)="toggleSidenav()"></app-topbar>
      <section class="p-6">
         <router-outlet></router-outlet>
      </section>
      <app-footer></app-footer>
   </main>

</mat-drawer-container>