<mat-drawer-container class="min-h-screen" autosize>
   <mat-drawer #drawer opened mode="side">
      <div class="min-h-screen bg-sky-500">

         <p>Auto-resizing sidenav</p>
      </div>
      <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
     <button (click)="showFiller = !showFiller" mat-raised-button>
       Toggle extra text
     </button> -->
   </mat-drawer>

   <main class="bg-sky-50 min-h-screen w-full flex flex-col">
      <header class="bg-white w-full p-6 flex justify-end">Admin</header>
      <section class="p-6">
         <router-outlet></router-outlet>
      </section>
      <footer class="text-center text-xs text-neutral-500 py-2 ">test angular developer PT Swadharma Duta Data 2023
      </footer>
   </main>

</mat-drawer-container>