<mat-drawer-container class="min-h-screen" autosize>
   <!-- sidebar -->
   <mat-drawer #sidenav opened mode="side" class="!bg-sky-800 !border-r-0 p-6">
      <div>
         <!-- logo -->
         <div class="p-4">
            <img src="assets/img/logo.png" class="invert w-40 mx-auto" alt="">
         </div>
         <!-- menu -->
         <ul class="flex flex-col gap-3 mt-6">
            <ng-container *ngFor="let m of menu">
               <li>
                  <a [routerLink]="m.link"
                     class="!text-white hover:bg-sky-400 hover:text-white p-4 flex items-center gap-3 rounded-lg ease-in-out duration-200 transition-all"
                     routerLinkActive="bg-sky-400 font-semibold">
                     <mat-icon class="!text-white">{{ m.icon }}</mat-icon>
                     <span class="!text-white">{{ m.title }}</span>
                  </a>
               </li>
            </ng-container>
         </ul>
      </div>
   </mat-drawer>
   <!-- content -->
   <mat-drawer-content>
      <main class="bg-sky-50 min-h-screen w-full flex flex-col">
         <app-topbar (toggleSidebar)="toggleSidenav()"></app-topbar>
         <section class="p-6">
            <router-outlet></router-outlet>
         </section>
         <app-footer></app-footer>
      </main>
   </mat-drawer-content>

</mat-drawer-container>