<section>
   <!-- top -->
   <div class="flex items-center justify-between">
      <h1 class="font-semibold text-2xl">{{pageTitle}}</h1>
      <app-button [buttonText]="'Add Category'" [buttonType]="'add'" (buttonClick)="handleButtonClick()"></app-button>
   </div>
   <!-- table -->
   <app-table *ngIf="data.length > 0" [data]="data" [columns]="displayColumns"></app-table>
   <!-- empty state -->
   <app-empty-state *ngIf="data.length == 0" [title]="'No Category'"
      [description]="'Add your first category!'"></app-empty-state>
</section>